<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BizTalkDbServer" value="(local)" />
    <add key="BizTalkDTADb" value="BizTalkDTADb" />
    <add key="BizTalkMgmtDb" value="BizTalkMgmtDb" />
    <add key="TrackedMessageCopyJobName" value="TrackedMessages_Copy_BizTalkMsgBoxDb" />
    <add key="MaxHistory" value="100" />
  </appSettings>
  <connectionStrings>
    <add name="BizTalkDTADbEntities" connectionString="metadata=res://*/BizTalk.Entities.BizTalkDTAModel.csdl|res://*/BizTalk.Entities.BizTalkDTAModel.ssdl|res://*/BizTalk.Entities.BizTalkDTAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;;Data Source=(local);Initial Catalog=BizTalkDTADb;Integrated Security=True;MultipleActiveResultSets=True&quot;"
        providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="All">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
          <add initializeData="c:\temp\MessageBodyTracing.svclog" type="System.Diagnostics.XmlWriterTraceListener"
            name="traceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      
    </sources>
  </system.diagnostics>-->

  <system.serviceModel>
    <!--<diagnostics>
      <messageLogging maxSizeOfMessageToLog="2147483647"
                      logEntireMessage="true"
                      logMessagesAtServiceLevel="true"
                      logMalformedMessages="true"
                      logMessagesAtTransportLevel="true">
      </messageLogging>
    </diagnostics>-->
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsyncVoid" textEncoding="utf-8">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_ITwoWayAsync" textEncoding="utf-8">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9000/BizWTF.Testing.Ports.IN.OneWay"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsyncVoid"
          contract="BizTalk1WayReference.ITwoWayAsyncVoid" name="BasicHttpBinding_ITwoWayAsyncVoid" />
      <endpoint address="http://localhost:9000/BizWTF.Testing.Ports.IN.TwoWay"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
          contract="BizTalk2WayReference.ITwoWayAsync" name="BasicHttpBinding_ITwoWayAsync" />
    </client>
  </system.serviceModel>
  <system.web>
    <trust level="Full" />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
  </system.web>
</configuration>