<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="BizTalkDbServer" value="."/>
    <add key="BizTalkDTADb" value="BizTalkDTADb"/>
    <add key="BizTalkMgmtDb" value="BizTalkMgmtDb"/>
    <add key="TrackedMessageCopyJobName" value="TrackedMessages_Copy_BizTalkMsgBoxDb"/>
    <add key="MaxHistory" value="15"/>
  </appSettings>
  <connectionStrings>
    <add name="BizTalkDTADbEntities" connectionString="metadata=res://*/BizTalk.Entities.BizTalkDTAModel.csdl|res://*/BizTalk.Entities.BizTalkDTAModel.ssdl|res://*/BizTalk.Entities.BizTalkDTAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=BizTalkDTADb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsyncVoid" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ITwoWayAsync" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9000/BizWTF.Testing.Ports.IN.OneWay"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsyncVoid"
        contract="BizTalk1WayReference.ITwoWayAsyncVoid" name="BasicHttpBinding_ITwoWayAsyncVoid" />
      <endpoint address="http://localhost:9000/BizWTF.Testing.Ports.IN.TwoWay"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
        contract="BizTalk2WayReference.ITwoWayAsync" name="BasicHttpBinding_ITwoWayAsync" />
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>